# Ignore virtual environment
venv/

# Ignore assets
backgrounds/

# Ignore caches
cache/
.cache

# Ignore PyInstaller Builds
build/
dist/
*.spec

# Ignore profiling debug
profiling_stats.txt

# Hide Api Keys in env variable
*.env

# But do not ignore the directory itself
!assets/img/

# Other files and directories to ignore
*.pyc
__pycache__/
.DS_Store
