# Ignore virtual environment
venv/

# Ignore caches
cache/
.cache

# Ignore all files in the assets/img/ directory
assets/img/*

# But do not ignore the directory itself
!assets/img/

# Other files and directories to ignore
*.pyc
__pycache__/
.DS_Store
