# Ignore virtual environment
venv/

# Ignore caches
cache/
.cache

# Ignore PyInstaller Builds
build/
dist/

# Ignore all files in the assets/img/ directory
assets/img/*

# Hide Api Keys
spotify_api.json

# But do not ignore the directory itself
!assets/img/

# Other files and directories to ignore
*.pyc
__pycache__/
.DS_Store
